<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="institutoC">Nombre del Instituto</label>
                    <input type="text" class="form-control" id="institutoC" name="institutoC"[(ngModel)]="institutoC" required>
                </div>
                <div class="form-group">
                    <label for="tituloC">titulo</label>
                    <input type="text" class="form-control" id="tituloC" name="tituloC"[(ngModel)]="tituloC" required>
                </div>
                <div class="form-group">
                    <label for="descripcionC">descripcion</label>
                    <input type="text" class="form-control" id="descripcionC" name="descripcionC"[(ngModel)]="descripcionC" required>
                </div>
                <div class="form-group">
                    <label for="periodoC">periodo</label>
                    <input type="text" class="form-control" id="periodoC" name="periodoC"[(ngModel)]="periodoC" required>
                </div>
                <div class="form-group">
                    <label for="logoC">logo</label>
                    <input type="text" class="form-control" id="logoC" name="logoC}"[(ngModel)]="logoC" required>
                </div>
                <div>
                    <button class="btn btn-secondary">
                        Agregar Educacion 
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
